.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container button {
    border: none;
    height: 20px;
    width: 30px;
    background-color: none;
}

.quiz-component {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}

.option-components {
    padding: 30px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.option {
    border: 2px solid maroon;
    border-radius: 5px;
    padding: 22px;
    margin: 10px;
}